.gradient-custom {
    /* fallback for old browsers */
    background: #2e2d3b;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(51, 49, 54), rgb(144, 150, 160));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #2e2d3b, rgb(128, 136, 150))
    }